
<html>
<head>
  <title>Multiple Images Page</title>
</head>
<body>
  <!-- <div class="containerTwoThree">

    <div class="image-container">
      <img src="./assets/cam.avif"alt="" class="spa1" />
      <img src="./assets/earphones.jpg"alt="" class="spa2" />
      <img src="./assets/glass.avif"alt="" class="spa3" />
      <img src="./assets/glass.avif"alt="" class="spa4" />

      <img src="./assets/Ipods.jpg"alt="" class="spa5" />

      <img src="./assets/watch.avif"alt="" class="spa6" />

      <img src="./assets/glass.avif"alt="" class="spa7" />

    </div>
  </div> -->

  <div>
    <div class="row">
      <div class="column">
        <img src="./assets/cam.avif"  class="column1" alt=""  />
      </div>
      <div class="column">
        <img src="./assets/earphones.jpg" class="column1" alt=""  />
      </div>
      <div class="column">
        <img src="./assets/glass.avif" class="column1" alt=""  />
      </div>
      <div class="column">
        <img src="./assets/watch.avif" class="column1" alt="" />
      </div>
      <div class="column">
        <img src="./assets/Ipods.jpg" class="column1" alt="" />
      </div>
      <div class="column">
        <img src="./assets/glass.avif" class="column1" alt=""  />
      </div>
      <div class="column">
        <img src="./assets/cam.avif" class="column1" alt=""  />
      </div>
    </div>
  </div>
  <!-- <diV>
    <app-app-footer></app-app-footer>
  </diV> -->
</body>
</html>
